USE [EMHC]
GO
/****** Object:  Table [dbo].[EMHC_ICU_BEDS]    Script Date: 2024/12/9 下午 05:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_ICU_BEDS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ICU_ID] [bigint] NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[REGISTERED_BEDS] [int] NULL,
	[OCCUPANCY_RATE] [decimal](18, 2) NULL,
	[ICU_BEDS] [int] NULL,
	[REQUIRED_DOCS_HEAVY] [int] NULL,
	[REQUIRED_DOCS_MODERATE] [int] NULL,
	[ACTUAL_DOCS] [int] NULL,
	[DOC_TO_BED_RATIO] [int] NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_ICU_DAILY_PATIENTS]    Script Date: 2024/12/9 下午 05:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_ICU_DAILY_PATIENTS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[TOTAL] [int] NULL,
	[AVERAGE] [int] NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_ICU_LIFE_SUPPORT]    Script Date: 2024/12/9 下午 05:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_ICU_LIFE_SUPPORT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ICU_ID] [bigint] NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[REGISTERED_BEDS] [int] NULL,
	[OCCUPANCY_RATE] [decimal](18, 2) NULL,
	[ICU_BEDS] [int] NULL,
	[REQUIRED_DOCS_HEAVY] [int] NULL,
	[REQUIRED_DOCS_MODERATE] [int] NULL,
	[ACTUAL_DOCS] [int] NULL,
	[DOC_TO_BED_RATIO] [int] NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_ICU_OTHER_INDICATORS]    Script Date: 2024/12/9 下午 05:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_ICU_OTHER_INDICATORS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ICU_ID] [bigint] NOT NULL,
	[ITEM_NO] [int] NOT NULL,
	[INDICATOR_NAME] [nvarchar](30) NULL,
	[VALUE] [nvarchar](30) NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_ICU_QUALITY_INDICATORS]    Script Date: 2024/12/9 下午 05:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_ICU_QUALITY_INDICATORS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ICU_ID] [bigint] NOT NULL,
	[TOTAL_ER_TO_ICU] [int] NULL,
	[OVER_6H_ER_TO_ICU] [int] NULL,
	[OVER_6H_ER_TO_ICU_PCT] [decimal](18, 2) NULL,
	[AVG_OVER_6H_ER_TO_ICU] [decimal](18, 2) NULL,
	[AVG_ER_TO_ICU_TIME] [decimal](18, 2) NULL,
	[AVG_ER_STAY_TIME] [decimal](18, 2) NULL,
	[TOTAL_ICU_DAYS] [int] NULL,
	[TOTAL_ICU_INF] [int] NULL,
	[ICU_INF_RATE] [decimal](18, 2) NULL,
	[ICU_MORT_RATE] [decimal](18, 2) NULL,
	[TOTAL_ICU_BEDS] [int] NULL,
	[TOTAL_ICU_DISCH] [int] NULL,
	[BED_TURN_RATE] [decimal](18, 2) NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_ICU_TOTAL_STATS]    Script Date: 2024/12/9 下午 05:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_ICU_TOTAL_STATS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[ER_TO_ICU] [int] NULL,
	[OVER_6H_ER_TO_ICU] [int] NULL,
	[OVER_6H_ER_TO_ICU_PCT] [decimal](18, 2) NULL,
	[AVG_ER_TO_ICU_TIME] [decimal](18, 2) NULL,
	[AVG_ER_STAY_TIME] [decimal](18, 2) NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_PREGNANCY]    Script Date: 2024/12/9 下午 05:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_PREGNANCY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[ITEM] [int] NOT NULL,
	[VALUE] [decimal](18, 2) NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMHC_ICU_BEDS]  WITH CHECK ADD  CONSTRAINT [FK_EMHC_ICU_BEDS_ICU] FOREIGN KEY([ICU_ID])
REFERENCES [dbo].[EMHC_ICU] ([ID])
GO
ALTER TABLE [dbo].[EMHC_ICU_BEDS] CHECK CONSTRAINT [FK_EMHC_ICU_BEDS_ICU]
GO
ALTER TABLE [dbo].[EMHC_ICU_DAILY_PATIENTS]  WITH CHECK ADD  CONSTRAINT [FK_EMHC_ICU_DAILY_PATIENTS_MAIN] FOREIGN KEY([MAIN_ID])
REFERENCES [dbo].[EMHC_MAIN] ([ID])
GO
ALTER TABLE [dbo].[EMHC_ICU_DAILY_PATIENTS] CHECK CONSTRAINT [FK_EMHC_ICU_DAILY_PATIENTS_MAIN]
GO
ALTER TABLE [dbo].[EMHC_ICU_LIFE_SUPPORT]  WITH CHECK ADD  CONSTRAINT [FK_EMHC_ICU_LIFE_SUPPORT_ICU] FOREIGN KEY([ICU_ID])
REFERENCES [dbo].[EMHC_ICU] ([ID])
GO
ALTER TABLE [dbo].[EMHC_ICU_LIFE_SUPPORT] CHECK CONSTRAINT [FK_EMHC_ICU_LIFE_SUPPORT_ICU]
GO
ALTER TABLE [dbo].[EMHC_PREGNANCY]  WITH CHECK ADD  CONSTRAINT [FK_EMHC_PREGNANCY_MAIN] FOREIGN KEY([MAIN_ID])
REFERENCES [dbo].[EMHC_MAIN] ([ID])
GO
ALTER TABLE [dbo].[EMHC_PREGNANCY] CHECK CONSTRAINT [FK_EMHC_PREGNANCY_MAIN]
GO
