USE [EMHC]
GO
/****** Object:  Table [dbo].[EMHC_ACS]    Script Date: 2024/12/9 下午 02:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_ACS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[ITEM] [int] NOT NULL,
	[VALUE] [decimal](18, 2) NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMHC_ACS]  WITH CHECK ADD FOREIGN KEY([MAIN_ID])
REFERENCES [dbo].[EMHC_MAIN] ([ID])
GO
