USE [EMHC]
GO
/****** Object:  Table [dbo].[EMHC_TRAUMA]    Script Date: 2024/12/9 下午 02:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_TRAUMA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[ITEM] [int] NOT NULL,
	[VALUE] [decimal](18, 2) NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_TRAUMA_CONSULTATION]    Script Date: 2024/12/9 下午 02:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_TRAUMA_CONSULTATION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[DEPARTMENT] [int] NOT NULL,
	[OTHER_DEPARTMENT] [nvarchar](15) NULL,
	[IS_AVAILABLE] [int] NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_TRAUMA_DOCTOR]    Script Date: 2024/12/9 下午 02:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_TRAUMA_DOCTOR](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[POSITION] [int] NULL,
	[NAME] [nvarchar](15) NULL,
	[TITLE] [nvarchar](15) NULL,
	[ATLS_CERT_EXPIRY] [nvarchar](15) NULL,
	[CERT_NO] [nvarchar](15) NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_TRAUMA_PATIENT]    Script Date: 2024/12/9 下午 02:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_TRAUMA_PATIENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[ITEM] [int] NOT NULL,
	[SEVERE_PATIENTS] [decimal](18, 2) NULL,
	[MILD_PATIENTS] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMHC_TRAUMA_TEAM]    Script Date: 2024/12/9 下午 02:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMHC_TRAUMA_TEAM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [bigint] NOT NULL,
	[TRAUMA_DEPARTMENT] [int] NULL,
	[SPECIALIST_DOCS] [int] NULL,
	[CASE_MANAGERS] [int] NULL,
	[CT_UID] [nvarchar](15) NULL,
	[CT_DATE] [datetime] NOT NULL,
	[UP_UID] [nvarchar](15) NULL,
	[UP_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMHC_TRAUMA]  WITH CHECK ADD FOREIGN KEY([MAIN_ID])
REFERENCES [dbo].[EMHC_MAIN] ([ID])
GO
ALTER TABLE [dbo].[EMHC_TRAUMA_CONSULTATION]  WITH CHECK ADD FOREIGN KEY([MAIN_ID])
REFERENCES [dbo].[EMHC_MAIN] ([ID])
GO
ALTER TABLE [dbo].[EMHC_TRAUMA_DOCTOR]  WITH CHECK ADD FOREIGN KEY([MAIN_ID])
REFERENCES [dbo].[EMHC_MAIN] ([ID])
GO
ALTER TABLE [dbo].[EMHC_TRAUMA_PATIENT]  WITH CHECK ADD FOREIGN KEY([MAIN_ID])
REFERENCES [dbo].[EMHC_MAIN] ([ID])
GO
ALTER TABLE [dbo].[EMHC_TRAUMA_TEAM]  WITH CHECK ADD FOREIGN KEY([MAIN_ID])
REFERENCES [dbo].[EMHC_MAIN] ([ID])
GO
